@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

body {
  margin: 0;
  font-family: 'Asul', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer{
  position: relative; 
  left: 0;
  bottom: 0;
  width: 100%;  
  text-align: center;
}

